[submodule "sources/git-excess"]
	path = sources/git-excess
	url = https://github.com/appcove/git-excess
[submodule "sources/bat"]
	path = sources/bat
	url = https://github.com/sharkdp/bat.git
[submodule "sources/fd"]
	path = sources/fd
	url = https://github.com/sharkdp/fd
[submodule "sources/pastel"]
	path = sources/pastel
	url = https://github.com/sharkdp/pastel
[submodule "sources/procs"]
	path = sources/procs
	url = https://github.com/dalance/procs.git
[submodule "sources/grex"]
	path = sources/grex
	url = https://github.com/pemistahl/grex
[submodule "sources/broot"]
	path = sources/broot
	url = https://github.com/Canop/broot.git
[submodule "sources/exa"]
	path = sources/exa
	url = https://github.com/ogham/exa
[submodule "sources/sd"]
	path = sources/sd
	url = https://github.com/chmln/sd
[submodule "sources/dust"]
	path = sources/dust
	url = https://github.com/bootandy/dust
