# This is a basic workflow to help you get started with Actions

name: Build the sources

# Controls when the workflow will run
on:
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@stable

      - name: save private key from github_secrets and import it
        run: |
          echo "${{ secrets.DEVELOPER_SOFTWARE_GPG_PRIVATE_KEY }}" > private_gpg.key
          gpg --batch --passphrase ${{ secrets.GPG_PASSPHRASE }} --import private_gpg.key

      - name: run python program builders
        run: |
          python3 build_scripts/main.py

      - name: Remove remove private key
        run: rm -rf private_gpg.key

      - name: Commit files
        run: |
          git config --local user.email "appcove+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git checkout --orphan website
          shopt -s extglob
          shopt -s globstar
          rm -r !(ubuntu|README.md|cache.yaml)
          git add -A
          git rm -rf .gitmodules .github .gitignore
          git commit -m "Updated debs"
          git push -f --set-upstream origin website
